* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.container {
    display: flex;
}

.form {
    display: flex;
    margin-top: 30px;
}

form input:first-child {
    margin-top: 0;
}

.form div {
    justify-content: space-between;
}

.formulario {
    margin: 1px solid #000000;
    padding: 8px;
}

.input {
    margin-top: 10px;
    padding: 8px;
}

.botones {
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: #fc9921;
    color: #ffffff;
    padding: 8px 10px;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
}

a {
    text-decoration: none;
}

.tabla-estudiantes {
    margin: 40px 0 0 30px
}

table {
    border: 1px solid #8f8f8f;
    border-collapse: collapse;
    
}

tbody tr:first-child {
    border: 1px solid #fc9921;
}

th {
    background-color: #fc9921;
    padding: 8px;
    color: #ffffff;
}
td {
    border-bottom: 1px solid #8f8f8f;
    padding: 5px;
}

.autor {
    text-align: center;
    font-size: 14px;
    
}